<div class="ui items">
  <div class="item">
    <div class="content">
      <a class="header" data-test-submission-header>
        {{if model.url "Link to latest submission" "No solutions found"}} for "{{model.slug}}"
      </a>
      <div class="extra">
        <a href="{{model.url}}" data-test-submission-link>{{model.url}}</a>
      </div>
    </div>
  </div>
</div>
