<div class="ui container">


<h2 class="ui center icon aligned header">
  <i class="circular help icon"></i>
  <div class="content">
    Need help?
    <div class="sub header">
      Here are a few links to exercism.io docs that can help you get started or troubleshoot an issue
    </div>
  </div>
</h2>

  <div class="ui large relaxed list">
    <a href="http://exercism.io/how-it-works/newbie" class="item">How it Works: For New Developers</a>
    <a href="http://exercism.io/how-it-works" class="item">How it Works: For Experienced Developers</a>
    <a href="http://exercism.io/help" class="item">Help</a>
  </div>
</div>
{{outlet}}
