<div class="ui container">
  <div class="ui vertical center aligned segment">
    <div class="ui text container">
      <h1 class="ui header">
        Welcome to Exercism GUI
      </h1>
      <h4>
        Version {{app-version}}
      </h4>
      {{get-started-link}}
    </div>
  </div>
</div>

<br>
<div class="ui container">
  {{new-release release=model.release info=model.info}}
</div>
