<h3 class="ui horizontal divider header">
  Skip summary
</h3>

<div class="ui positive big message">
  <div class="content">
    <div data-test-skip-success>
      Skipped {{model.slug}} in track {{model.track}}
    </div>
  </div>
</div>
