<h3 class="ui horizontal divider header">
  Skip summary
</h3>
<div class="ui centered two column grid">
  <div class="column">
    <div class="ui positive message">
      <div class="content">
        <div class="header" data-test-skip-success>
          Skipped {{model.slug}} in track {{model.track}}
        </div>
      </div>
    </div>
  </div>
</div>

