<div class="ui fluid vertical menu">
  <div class="header item">Actions</div>
  {{#if apiKeyUnset}}
    {{#link-to "configuration" class="item"}}
      <p data-test-disabled-msg>Please configure your API key to enable these actions</p>
    {{/link-to}}
    <div class="item">
      <div class="ui disabled fluid button">Fetch</div>
    </div>
    <div class="item">
      <div class="ui disabled fluid button">Show status</div>
    </div>
  {{else}}
    <div class="item">
      <div class="ui fluid button">Fetch</div>
    </div>
    <div class="item">
      {{link-to "Show status" "tracks.track.status" track.id class="ui fluid button"}}
    </div>
  {{/if}}
</div>
