<div class="track-selector">
{{#power-select
  options=tracks
  selected=selectedTrack
  placeholder="Please, select a track"
  onchange=(action "chooseTrack") as |track|}}
  {{track.language}}
{{/power-select}}
</div>
