<div class="menu">
  <div class="item" {{action "toggleDevTools"}}>
    <i class="terminal icon"></i> Toggle dev tools
  </div>
  <div class="item" {{action "toggleFullScreen"}}>
    <i class="expand icon"></i> Toggle full screen
  </div>
  <div class="item" {{action "reload"}}>
    <i class="refresh icon"></i> Reload
  </div>
</div>
